
body {
    background-color: white;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text], input[type=password], input[type=email], input[type=number] {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 15px;
    width: 300px;
}

label {
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 15px;
    width: fit-content;
}

select {
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 20px;
    width: fit-content !important;
}

/* u_nav.gohtml menu items */
.menubutton {
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 20px;
}
.menubutton:hover {
    background-color: white;
    border: 1px solid white;
    color: black;
}

/* <p> errormsg text under submit buttons */
.errmessage {
    color: red;
    font-weight: bold;
    font-size: 16px;
}

.label-text {
    color: black;
    font-size: 15px;
    text-align: right;
}

.admin-text {
    color: lightgrey;
    font-size: 15px;
}

.header-text {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    color: black;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.info-text {
    color: black;
    font-size: 15px;
    text-align: left;
}

.topmenu-text {
    color: black;
    font-size: 15px;
    text-align: right;
    cursor: pointer;
}

.topmenu-table {
    width: 100%;
    border-collapse: collapse;
    background-color: black;
    padding: 0px;
} 

.topmenu-th {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
    background-color: black;
    color: white;
}

.subbutton {
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 15px;
}

.delbutton {
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 15px;
} .delbutton:hover {
    background-color: red;
    border: 1px solid orangered;
    color: white;
}


.list-header {
    
    color: black;
    padding: 5px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 5px;
    width: fit-content;
}

.table-users {
    width: 100%;
    border-collapse: collapse;
    background-color: whitesmoke;
    padding: 5px;

    background-color: lightgray;
    color: black;

    
    text-align: left;
    font-size: 15px;
}

.tr-list-users {
    border: 1px solid grey;
    padding: 5px;
    font-family: monospace;
}

.form-edituser {
    width: fit-content;
    border-collapse: collapse;
    padding: 10px;

    background-color: lightgray;
    color: black;

    text-align: left;
}