body {
    margin: 20px;
    padding: 20;
    font-family: sans-serif, Arial, Helvetica, monospace;
    background-color: white;
}

input[type=text], input[type=password], input[type=email], input[type=number] {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 15px;
    width: 300px;
}

.loginbtn {
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 6px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;

    justify-content: center;

    height: 100%;
    
  }

  .subbutton {
    background-color: black;
    border: 1px solid black;
    color: white;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 6px;
}

.header-text {
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    color: black;
    padding: 3px;
    text-align: center;
}

.errmessage {
    color: red;
    font-weight: bold;
    font-size: 18px;
    font-family: monospace;

    width: fit-content;
    padding: 3px 5px;
    border-radius: 10px;
    border: 2px solid white;
}

.configbox {
    border: 2px solid black;
    border-radius: 5px;
    padding: 3px;
    width: fit-content;
}