<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ .title }}</title>
        <link rel="stylesheet" href="/css/{{ .css }}">
    </head>
<body>
<div id="_container">
    <table class="table-main">
        <tbody>
            <tr class="login_tr">
                <th>
                    <a href="/login" class="loginbtn">Login</a>
                </th>
            </tr>
            <tr>
                <td>
                    <div id="_logo-effect">
                        <img src="/share/{{ .logo }}">
                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>
<div id="_divbottom">
    <table>
        <tr>
            <td>Your TM &#174</td>
        </tr>
    </table>
</div>
<script src="/js/{{ .js }}"></script>
</body>
</html>
