{{ template "navbar.gohtml" . }}
<div>
    <table style="width: 100%;">
        <tr>
            <td class="header-text">Welcome {{ .user.Email }}</td>
            <td class="act-text" style="text-align: right">Access time: {{ .act }}</td>
        </tr>
    </table>
</div>
    

<script src="/js/{{ .js }}"></script>
</body>
</html>
`