{{ template "navbar.html" . }}
    <table class="table-users">
        <thead>
            <td class="header-text-count" colspan="3">New Users ({{ .countnew }})</td>
        <tr>
            <th class="td-list-header">ID</th>
            <th class="td-list-header">User</th>
            <th class="td-list-header">Role</th>
            <th class="td-list-header"></th>
            <th class="td-list-header">Created</th>
            <th class="td-list-header">Updates</th>
        </tr>
        </thead>
        <tbody>
            {{ range .newusers }}
            <tr class="tr-list-users">
                <form class="authform">
                    <td class="td-list-users" title="User id">
                        {{ .Id }}
                    </td>
                    <td class="td-list-users">
                        <a href="/v/user/{{ .Id }}" class="authbutton" title="Edit user">{{ .Email }}</a>
                    </td>
                    <td class="td-list-users">
                        {{ .Role }}
                    </td>
                    <td class="td-list-users" style="text-align: center;">
                        {{ if eq .Id 1 }}
                        {{ else }}
                            <input type="hidden" id="_auth{{ .Id }}" value="{{ .IsAuth }}" /> 
                            {{ if .IsAuth }}
                                <input type="button" class="authbutton" value="Unauthorize" title="Unauthorize user" 
                                    onclick="setAuthClick('{{ .Id }}')" />
                            {{ else }}
                                <input type="button" class="authbutton" value="Authorize" title="Authorize user"
                                    onclick="setAuth('{{ .Id }}')" />
                            {{ end }}
                        {{ end }}
                    </td>
                    <td class="td-list-users">
                        <script>
                            var cdate = new Date({{ .CreatedAt }});
                            document.write(cdate.toISOString().slice(0, 19).replace('T', ' '));
                        </script>
                    </td>
                    <td class="td-list-users" title="Last updated">
                        <script>
                            var udate = new Date({{ .UpdatedAt }});
                            document.write(udate.toISOString().slice(0, 19).replace('T', ' '));
                        </script>
                    </td>
                </form>
            </tr>
            {{ end }}
        </tbody>
    </table>
</body>
</html>
<script src="/js/{{ .js }}"></script>